.questionChoiceOptions{
	display:none;
}
ul#dvDest.list-group{
	height:300px;
	border:1px solid black;
}
ul#dvDest.list-group li.list-group-item.ui-draggable.ui-draggable-handle.ui-draggable-dragging{
	left:0;
	top:0;
}
ul#dvSource.list-group{	height:300px;	border:1px solid black;}.list-group-item{	cursor:pointer;}